{% extends 'harvestMgtApp/base.html' %}


{% block content %}

<h1>This is add farmer plant page</h1>


<form action="{% url 'addFarmerPlants' farmer_id %}" method="POST">
    {% csrf_token %}

    {{ form.as_p }}

    <lable for="plant">Plant</lable>
    <select name="plant">
        {% for plant in plants %}
            <option value="{{ plant.pk }}">{{ plant.plantName }}</option>
        {% endfor %}
    </select>

    <br><br>

    <lable for="amount">Amount</lable>
    <input type="text" name="amount">

<hr>

    <button type="submit" name="addAnother">Add another</button>
    <button type="submit" name="submitPlant">Submit</button>

</form>

{% endblock %}


