{% extends 'harvestMgtApp/base.html' %}

{% block content %}

    <h1>Add Farmer</h1>

    <form action="{% url 'addfarmer' %}" method="POST">
        {% csrf_token %}

        {{ form.as_p }}

        <!--<lable for="plant">Plant</lable>-->
        <!--<select name="plant">-->
            <!--{% for plant in plants %}-->
                <!--<option value="{{ plant.pk }}">{{ plant.plantName }}</option>-->
            <!--{% endfor %}-->
        <!--</select><br><br>-->
        <!--<lable for="amount">Amount</lable>-->

        <!--<input type="text" name="amount">-->
        <button type="submit">Submit</button>
    </form>

{% endblock %}