<h1>Harvest Management System</h1>



{% if user.is_authenticated %}
    Logged In As |  {{ user.username }}  |  <a href="{% url 'addfarmer' %}">Add Farmers</a> | <a href="{% url 'farmers' %}">View Farmsers</a> <br><br>
    <form action="{% url 'logoutuser' %}" method="POST">
        {% csrf_token %}
        <button type="submit">Log out</button>
    </form>
{% else %}
    <a href="{% url 'loginuser' %}">login</a> |
    <a href="{% url 'signup' %}">Sign Up</a>  |
{% endif %}
<a href="{% url 'home' %}">Home</a>

<hr>

{{ error }}

{% block content %}



{% endblock  %}



