<h1>Harvest Management System</h1>



{% if user.is_authenticated %}
    Logged In As |  {{ user.username }} <br><br>
    <form action="{% url 'logoutuser' %}" method="POST">
        {% csrf_token %}
        <button type="submit">Log out</button>
    </form>
    <a href="{% url 'addfarmer' %}">Home</a>
{% else %}
    <a href="{% url 'loginuser' %}">login</a> |
    <a href="{% url 'signup' %}">Sign Up</a>  |
    <a href="{% url 'home' %}">Home</a>
{% endif %}

<hr>

{{ error }}

{% block content %}



{% endblock  %}



